apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/prometheus-community/helm-charts
    targetRevision: main
    chart: kube-prometheus-stack
    helm:
      valueFiles:
      - values.yaml
      parameters:
      - name: "grafana.enabled"
        value: "true"
      - name: "prometheus.service.type"
        value: "NodePort"
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
