apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: nginxrstest
  labels:
    app: nginxstest
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginxstest
  template:
    metadata:
      labels:
        app: nginxstest
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - name: http
          containerPort: 80
        imagePullPolicy: IfNotPresent
